#main{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom-style: solid;
    border-color: black;
    margin-left: 10px;
    margin-right: 10px;
}

#main p{
    font-size: 20px;
    text-align: justify;
}
#main h1{
    text-align: center;
    padding-bottom: 20px;
}

#first{
    padding-top: 50px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.row1{
    display: block;
}

#map, #ranking_vis{
    height: 500;
}
